<p>Template Driven Forms</p>

@if (aboutFormData) {
    <h2>Details from about component is here</h2>
    {{aboutFormData | json}}
}

<!-- {{fullName | uppercase}}

{{fullName | lowercase}} -->

<div>
    {{fullName | jsgigs}}
</div>

<p>
    {{todayDate | date:'medium'}}
</p>

<form #loginForm="ngForm"> 
    <input type="text" [(ngModel)]="login.username" name="username"/>
    <input type="password" [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}"/>
</form>
<button
    (click)="onClick()">
    Click to submit
</button>