<dashboard-ng19-header [title]="headerName" (salutation)="onSalutation($event)" ></dashboard-ng19-header>

<!-- Hello World from Angular 19 -- {{title}}

<button (click)="morningToggle()">Click here</button>

<input [disabled]="isMorning" type="text" />

@if (isMorning) {
    <div>
        Good Morning
    </div>
} @else {
    <div>
        Good Evening
    </div>
} -->

@for (user of users; track user.id;) {
    <div>
        <h1>{{user.name}}</h1>
    
        @if (user.id < 6) {
            <img [ngSrc]="user.image" height="100" width="100" priority/>
        } @else {
            <img [ngSrc]="user.image" height="100" width="100"/>
        }

        <!-- @defer { -->
            <!-- <img [src]="user.image" /> -->
        <!-- } @loading (minimum 2000ms) {
            <h1> Loading .... </h1>
        } -->
    </div>
}
<router-outlet />
